<!DOCTYPE html>

<html lang="eng">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title></title>

    {% stylesheets 'css/cwsd.css' %}
    <link  rel="stylesheet" href="{{ asset('css/cwsd.css') }}" type="text/css" >
    <link  rel="stylesheet" href="{{ asset('css/bootstrap.css') }}" type="text/css" >
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    <link href="http://fonts.googleapis.com/css?family=Fenix" rel="stylesheet" type="text/css">
    {% endstylesheets %}


</head>

<body>

{% image '@CWSDshowcaseBundle/Resources/public/images' %}
<img id="cwsdLogo" src="{{ asset('images/cwsdLogo.png') }}" alt="" />
{% endimage %}

<div class="homepage-hero-module">
    <div class="video-container">
        <div class="filter"></div>
        <video autoplay loop class="fillWidth" id="alohaVideo">
            <source src="{{ asset('images/Aloha-Mundo.mp4') }}" type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade your browser.
        </video>
    </div>
</div>

<div class="homepage-hero-module">
    <div class="video-container">
        <div class="filter"></div>
        <video autoplay loop class="fillWidth" id="Agile">
            <source src="{{ asset('images/Agile.mp4') }}" type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade your browser.
        </video>
    </div>
</div>

<div class="homepage-hero-module">
    <div class="video-container">
        <div class="filter"></div>
        <video autoplay loop class="fillWidth" id="keyboard">
            <source src="{{ asset('images/White-Keyboard.mp4') }}" type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade your browser.
        </video>
    </div>
</div>

<div class="homepage-hero-module">
    <div class="video-container">
        <div class="filter"></div>
        <video autoplay loop class="fillWidth" id="androidScroll">
            <source src="{{ asset('images/Android-Scroll.mp4') }}" type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade your browser.
        </video>
    </div>
</div>

<div class="container" id="creez">
    <h1>CREATION</h1>
</div>

<div class="container" id="innovez">
    <h1>INNOVATION</h1>
</div>

<div class="container" id="communiquez">
    <h1>COMMUNICATION</h1>
</div>

<div class="container" id="evoluez">
    <h1>EVOLUTION</h1>
</div>

<div id="subLogo">

    <p>
        Conception web & stratégie digitale
    </p>


</div>


<nav class="navbar navbar-fixed-top" id="cwsdNavbar">
    <div class="container-fluid" id="navContainer">
        <div class="navbar-header">        </div>





        <ul class="nav navbar-nav" id="cwsdUl">
            <li class="active"><a href="#">Accueil</a></li>
            <li><a href="#">Présentation</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Réalisations</a></li>
            <li><a href="#">Disponibilités</a></li>
            <li><a href="#">Devis</a></li>
            <li><a href="#">Contact</a></li>

        </ul>
    </div>
</nav>

<div class="container" id="ancrePresentation">

    <h2 id="h2Pres">NOTRE OBJECTIF</h2>

    <p>
        Mettre notre expertise au service du <strong>développement</strong><br>
        de nos clients.
    </p>

    {% image '@CWSDshowcaseBundle/Resources/public/images' %}
    <img id="book" src="{{ asset('images/book.jpeg') }}" alt="" />
    {% endimage %}

    {% image '@CWSDshowcaseBundle/Resources/public/images' %}
    <img id="mockup" src="{{ asset('images/mockup.jpg') }}" alt="" />
    {% endimage %}

    <ul style="list-style-type:none">
        <li>Quel que soit votre but, nous travaillons à :</li>
        <li>- l'amélioration de <strong>l'expérience</strong> de vos utilisateurs</li>
        <li>- augmenter votre <strong>e-notoriété</strong></li>
        <li>- parfaire votre offre grâce aux <strong>retours clients</strong></li>
    </ul>


</div>

<div class="container" id="titlePresentation">
    <h2>PRESENTATION</h2>
</div>






</body>


{% javascripts 'js/cwsd.js' %}
<script src="{{ asset('js/jquery.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/cwsd.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/bootstrap.js') }}"></script>

{% endjavascripts %}
</html>

