<!DOCTYPE html>

<html lang="eng">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title></title>

    {% stylesheets 'css/cwsd.css' %}
    <link  rel="stylesheet" href="{{ asset('css/cwsd.css') }}" type="text/css" >
    <link  rel="stylesheet" href="{{ asset('css/bootstrap.css') }}" type="text/css" >
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    <link href="http://fonts.googleapis.com/css?family=Fenix" rel="stylesheet" type="text/css">
    {% endstylesheets %}

    {% javascripts 'js/cwsd.js' %}
    <script src="{{ asset('js/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/cwsd.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/bootstrap.js') }}"></script>

    {% endjavascripts %}



</head>

<body>


<header>



    <div class="homepage-hero-module">
        <div class="video-container" id="videoHomepage" >
            <video autoplay loop class="fillWidth" id="loveCoding">
                <source src="{{ asset('images/Love-Coding.mp4') }}" type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade your browser.
            </video>
        </div>
    </div>




    {% image '@CWSDshowcaseBundle/Resources/public/images' %}
    <img id="cwsdLogo" src="{{ asset('images/cwsdLogo.png') }}" alt="" />
    {% endimage %}

    <div class="homepage-hero-module">
        <div class="video-container">
            <div class="filter"></div>
            <video autoplay loop class="fillWidth" id="alohaVideo">
                <source src="{{ asset('images/Aloha-Mundo.mp4') }}" type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade your browser.
            </video>
        </div>
    </div>

    <div class="homepage-hero-module">
        <div class="video-container">
            <div class="filter"></div>
            <video autoplay loop class="fillWidth" id="Agile">
                <source src="{{ asset('images/Agile.mp4') }}" type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade your browser.
            </video>
        </div>
    </div>

    <div class="homepage-hero-module">
        <div class="video-container">
            <div class="filter"></div>
            <video autoplay loop class="fillWidth" id="keyboard">
                <source src="{{ asset('images/White-Keyboard.mp4') }}" type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade your browser.
            </video>
        </div>
    </div>

    <div class="homepage-hero-module">
        <div class="video-container">
            <div class="filter"></div>
            <video autoplay loop class="fillWidth" id="androidScroll">
                <source src="{{ asset('images/Android-Scroll.mp4') }}" type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade your browser.
            </video>
        </div>
    </div>

    <div class="container" id="creez">
        <h1>CREATION</h1>
    </div>

    <div class="container" id="innovez">
        <h1>INNOVATION</h1>
    </div>

    <div class="container" id="communiquez">
        <h1>COMMUNICATION</h1>
    </div>

    <div class="container" id="evoluez">
        <h1>EVOLUTION</h1>
    </div>

    <div id="subLogo">

        <p>
            Conception web & stratégie digitale
        </p>


    </div>

    {% image '@CWSDshowcaseBundle/Resources/public/images' %}
    <img id="codingWall" src="{{ asset('images/codingWall.jpg') }}" alt="" />
    {% endimage %}

</header>

<div class="container" id="slideHomepage">

    <div id="titleSlideH">



        <p><strong>CWSD</strong></p> <h1><em>Conception web et stratégie digitale</em></h1>


        <h4>Paris 2018</h4>

        <div class="container" id="conseiller">
            <h1>Vous conseiller</h1>
        </div>

        <div class="container" id="accompagner">
            <h1>Vous accompagner</h1>
        </div>

        <div class="container" id="developper">
            <h1>Vous développer</h1>
        </div>



        {% image '@CWSDshowcaseBundle/Resources/public/images' %}
        <img id="idea" src="{{ asset('images/idea.jpg') }}" alt="" />
        {% endimage %}

        {% image '@CWSDshowcaseBundle/Resources/public/images' %}
        <img id="check" src="{{ asset('images/check.jpg') }}" alt="" />
        {% endimage %}

        {% image '@CWSDshowcaseBundle/Resources/public/images' %}
        <img id="can" src="{{ asset('images/can.jpg') }}" alt="" />
        {% endimage %}



    </div>

</div>

<div class="container" id="slideHomepage2">

    <div id="SlideH2Text">

        <h1>
            Résultat d'une réflexion sur le role d'une agence web,
            CWSD se veut en partenaire de votre croissance.<br><br>
            Vous trouverez une équipe dédiée à vos projets, prête
            à relever vos défis.

        </h1>

        <p>En savoir plus<span class="glyphicon glyphicon-chevron-down " id="glyphiconDown"></span></p>


    </div>

</div>

<nav class="navbar navbar-fixed-top" id="cwsdNavbar">
    <div class="container-fluid" id="navContainer">
        <div class="navbar-header">

            {% image '@CWSDshowcaseBundle/Resources/public/images' %}
            <img id="cwsdLogo2" src="{{ asset('images/cwsdLogo.png') }}" alt="" />
            {% endimage %}

        </div>


        <ul class="nav navbar-nav" id="cwsdUl">
            <li class="active"><a href="#">Accueil</a></li>
            <li><a href="#">Présentation</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Réalisations</a></li>
            <li><a href="#">Disponibilités</a></li>
            <li><a href="#">Devis</a></li>
            <li><a href="#">Contact</a></li>


        </ul>
    </div>



</nav>


<section>{#ancre presentation************************************#}
    <article>
        <div class="container" id="ancrePresentation">

            <h2 id="h2Pres">NOTRE OBJECTIF</h2>

            <p id="presP1">
                <em>Mettre notre expertise au service du <strong>développement</strong>
                    de nos clients.</em><br>
            </p>

            <p id="presP2">

                Internet offre une multitudes d'opportunités et d'outils aux entreprises.<br>
                Chaque projet ayant sa spécificité, notre maitrise technique nous permet<br>
                de vous accompagner du début au lancement de votre projet et lors de sa<br>
                maintenance.<br><br> Pour y parvenir nous nous appuyons sur des valeurs  :
            </p>

            {% image '@CWSDshowcaseBundle/Resources/public/images' %}
            <img id="board" src="{{ asset('images/board.png') }}" alt="" />
            {% endimage %}

            <p id="presP3">

                <span id="spanpresP3">TRANSPARENCE</span> <br><br>
                Du devis à la réalisation, chaque étape<br> vous est expliquée et soumise à validation.<br>
                Nous créons ensemble.

            </p>


            {% image '@CWSDshowcaseBundle/Resources/public/images' %}
            <img id="todo" src="{{ asset('images/todo.png') }}" alt="" />
            {% endimage %}

            <p id="presP4">

                <span id="spanpresP4">RIGUEUR</span> <br><br>
                Que la méthodologie choisie soit agile,<br> itérative ou traditionnelle la finalité demeure<br> le respect des coûts et des délais.


            </p>

            {% image '@CWSDshowcaseBundle/Resources/public/images' %}
            <img id="listening" src="{{ asset('images/listening.png') }}" alt="" />
            {% endimage %}

            <p id="presP5">

                <span id="spanpresP5">ECOUTE</span> <br><br>
                L'aboutissement de votre projet passe par<br> la compréhension de vos besoins.

            </p>

            {% image '@CWSDshowcaseBundle/Resources/public/images' %}
            <img id="sharing" src="{{ asset('images/sharing.png') }}" alt="" />
            {% endimage %}

            <p id="presP6">

                <span id="spanpresP6">OUVERTURE </span> <br><br>
                Nous sommes en perpétuel apprentissage pour<br> vous apporter un panel de solutions.
            </p>



            {% image '@CWSDshowcaseBundle/Resources/public/images' %}
            <img id="book" src="{{ asset('images/book.jpeg') }}" alt="" />
            {% endimage %}

            {% image '@CWSDshowcaseBundle/Resources/public/images' %}
            <img id="mockup" src="{{ asset('images/mockup.jpg') }}" alt="" />
            {% endimage %}

            <ul style="list-style-type:none">
                <li>Quel que soit votre but, nous travaillons à :</li>
                <li>- l'amélioration de <strong>l'expérience</strong> de vos utilisateurs</li>
                <li>- augmenter votre <strong>e-notoriété</strong></li>
                <li>- parfaire votre offre grâce aux <strong>retours clients</strong></li>
            </ul>
        </div>
    </article>

    <aside>
        <div class="container" id="titlePresentation">
            <h2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                PRESENTATION</h2>
        </div>

    </aside>

</section>




<section> {#ancre services****************************#}

    <article>

        <div class="container" id="ancreServices">

            <h2 id="h2Ser">NOTRE SAVOIR-FAIRE</h2>

            <p id="presS1">
                <em>Des <strong>solutions numériques </strong> sur mesure
                    <br>
                </em>
            </p>

            <div class="container" id="imgSer1">

                {% image '@CWSDshowcaseBundle/Resources/public/images' %}
                <img id="code" src="{{ asset('images/code.jpg') }}" alt="" class="image" />
                {% endimage %}

                <div class="overlay" id="overlaySer1">
                    <div class="text">

                        <button class="button " id="buttonDev">En savoir plus</button>

                    </div>
                </div>

            </div>

            <div class="container" id="imgSer2">

                {% image '@CWSDshowcaseBundle/Resources/public/images' %}
                <img id="acquisitionImg" src="{{ asset('images/acquisition.jpg') }}" alt="" class="image" />
                {% endimage %}

                <div class="overlay" id="overlaySer1">
                    <div class="text">

                        <button class="button " id="buttonDev">En savoir plus</button>

                    </div>
                </div>

            </div>

            <div class="container" id="imgSer3">

                {% image '@CWSDshowcaseBundle/Resources/public/images' %}
                <img id="socialMedia" src="{{ asset('images/social.jpg') }}" alt="" class="image" />
                {% endimage %}

                <div class="overlay" id="overlaySer1">
                    <div class="text">

                        <button class="button " id="buttonDev">En savoir plus</button>

                    </div>
                </div>

            </div>





            <div class="container" id="developpement">

                <h3><strong>DEVELOPPEMENT</strong></h3>

                {% image '@CWSDshowcaseBundle/Resources/public/images' %}
                <img id="stop" src="{{ asset('images/stop.png') }}" alt="" class="image" />
                {% endimage %}

                <p>

                    Création de sites vitrines/évenementiels<br>
                    Création de sites e-commerce<br>
                    Création d'applications mobiles

                </p>
            </div>

            <div class="container" id="acquisition">

                <h3><strong>ACQUISITION</strong></h3>

                {% image '@CWSDshowcaseBundle/Resources/public/images' %}
                <img id="stop2" src="{{ asset('images/stop.png') }}" alt="" class="image" />
                {% endimage %}

                <p>

                    Référencement naturel<br>
                    Référencement payant<br>
                    Campagne display

                </p>
            </div>


            <div class="container" id="social">

                <h3><strong>SOCIAL MEDIA</strong></h3>

                {% image '@CWSDshowcaseBundle/Resources/public/images' %}
                <img id="stop3" src="{{ asset('images/stop.png') }}" alt="" class="image" />
                {% endimage %}

                <p>

                    Community Management<br>
                    Relations influenceurs

                </p>
            </div>





        </div>




    </article>

    <aside>
        <div class="container" id="titleServices">
            <h2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                SERVICES

            </h2>
        </div>

    </aside>



</section>




<section> {#ancre realisations****************************#}

    <article>
        <div id="demo" class="carousel slide" data-ride="carousel">

            <!-- Indicators -->
            <ul class="carousel-indicators">
                <li data-target="#demo" data-slide-to="0" class="active"></li>
                <li data-target="#demo" data-slide-to="1"></li>
            </ul>

            <!-- The slideshow -->
            <div class="carousel-inner">
                <div class="carousel-item active">
                    {% image '@CWSDshowcaseBundle/Resources/public/images' %}
                    <img id="cwsd" src="{{ asset('images/cwsd.png') }}" alt="" class="image" />
                    {% endimage %}
                </div>

                <div class="carousel-item">
                    {% image '@CWSDshowcaseBundle/Resources/public/images' %}
                    <img id="niceDiving" src="{{ asset('images/niceDiving.png') }}" alt="" class="image" />
                    {% endimage %}

                </div>

            </div>

            <!-- Left and right controls -->
            <a class="carousel-control-prev" href="#demo" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#demo" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>
        </div>



    </article>

    <aside>
        <div class="container" id="titleRealisations">
            <h2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                REALISATIONS

            </h2>

        </div>


    </aside>


</section>



</body>


{% javascripts 'js/cwsd.js' %}
<script src="{{ asset('js/jquery.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/cwsd.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/bootstrap.js') }}"></script>

{% endjavascripts %}
</html>

