<!DOCTYPE html>

<html lang="eng">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title></title>

    {% stylesheets 'css/cwsd.css' %}
    <link  rel="stylesheet" href="{{ asset('css/cwsd.css') }}" type="text/css" >
    <link  rel="stylesheet" href="{{ asset('css/bootstrap.css') }}" type="text/css" >
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    <link href="http://fonts.googleapis.com/css?family=Fenix" rel="stylesheet" type="text/css">
    {% endstylesheets %}


</head>

<body>

<nav class="navbar navbar-fixed-top" id="cwsdNavbar">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">

            </a>
        </div>

        {% image '@CWSDshowcaseBundle/Resources/public/images' %}
        <img id="cwsdLogo" src="{{ asset('images/cwsdLogo.png') }}" alt="" />
        {% endimage %}

        {% image '@CWSDshowcaseBundle/Resources/public/images' %}
        <img id="homeLogo" src="{{ asset('images/home.png') }}" alt="" />
        {% endimage %}

        {% image '@CWSDshowcaseBundle/Resources/public/images' %}
        <img id="boardLogo" src="{{ asset('images/board.png') }}" alt="" />
        {% endimage %}

        {% image '@CWSDshowcaseBundle/Resources/public/images' %}
        <img id="servicesLogo" src="{{ asset('images/services.png') }}" alt="" />
        {% endimage %}

        {% image '@CWSDshowcaseBundle/Resources/public/images' %}
        <img id="sitesLogo" src="{{ asset('images/sites.png') }}" alt="" />
        {% endimage %}

        {% image '@CWSDshowcaseBundle/Resources/public/images' %}
        <img id="scheduleLogo" src="{{ asset('images/schedule.png') }}" alt="" />
        {% endimage %}

        {% image '@CWSDshowcaseBundle/Resources/public/images' %}
        <img id="devisLogo" src="{{ asset('images/devis.png') }}" alt="" />
        {% endimage %}

        {% image '@CWSDshowcaseBundle/Resources/public/images' %}
        <img id="contactLogo" src="{{ asset('images/mail.png') }}" alt="" />
        {% endimage %}



        <ul class="nav navbar-nav" id="cwsdUl">
            <li class="active"><a href="#">Accueil</a></li>
            <li><a href="#">Présentation</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Réalisations</a></li>
            <li><a href="#">Disponibilités</a></li>
            <li><a href="#">Devis</a></li>
            <li><a href="#">Contact</a></li>

        </ul>
    </div>
</nav>



<div id="subLogo">

    <p>
        Conception web & stratégie digitale
    </p>

    {% image '@CWSDshowcaseBundle/Resources/public/images' %}
    <img id="coding" src="{{ asset('images/coding.png') }}" alt="" />
    {% endimage %}

    {% image '@CWSDshowcaseBundle/Resources/public/images' %}
    <img id="list" src="{{ asset('images/list.png') }}" alt="" />
    {% endimage %}

</div>




</body>


{% javascripts 'js/cwsd.js' %}
<script src="{{ asset('js/jquery.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/cwsd.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/bootstrap.js') }}"></script>

{% endjavascripts %}
</html>

