<!DOCTYPE html>

<html lang="eng">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title></title>

    {% stylesheets 'css/cwsd.css' %}
    <link  rel="stylesheet" href="{{ asset('css/cwsd.css') }}" type="text/css" >
    <link  rel="stylesheet" href="{{ asset('css/bootstrap.css') }}" type="text/css" >
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    <link href="http://fonts.googleapis.com/css?family=Fenix" rel="stylesheet" type="text/css">
    {% endstylesheets %}


</head>



<body>

<div id="main">

    <header>



        <div class="homepage-hero-module">
            <div class="video-container" id="videoHomepage" >
                <video autoplay loop class="fillWidth" id="loveCoding">
                    <source src="{{ asset('images/Love-Coding.mp4') }}" type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade your browser.
                </video>
            </div>
        </div>




        {% image '@CWSDshowcaseBundle/Resources/public/images' %}
        <img id="cwsdLogo" src="{{ asset('images/cwsdLogo.png') }}" alt="" />
        {% endimage %}

        <div class="homepage-hero-module">
            <div class="video-container">
                <div class="filter"></div>
                <video autoplay loop class="fillWidth" id="alohaVideo">
                    <source src="{{ asset('images/Aloha-Mundo.mp4') }}" type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade your browser.
                </video>
            </div>
        </div>

        <div class="homepage-hero-module">
            <div class="video-container">
                <div class="filter"></div>
                <video autoplay loop class="fillWidth" id="Agile">
                    <source src="{{ asset('images/Agile.mp4') }}" type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade your browser.
                </video>
            </div>
        </div>

        <div class="homepage-hero-module">
            <div class="video-container">
                <div class="filter"></div>
                <video autoplay loop class="fillWidth" id="keyboard">
                    <source src="{{ asset('images/White-Keyboard.mp4') }}" type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade your browser.
                </video>
            </div>
        </div>

        <div class="homepage-hero-module">
            <div class="video-container">
                <div class="filter"></div>
                <video autoplay loop class="fillWidth" id="androidScroll">
                    <source src="{{ asset('images/Android-Scroll.mp4') }}" type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade your browser.
                </video>
            </div>
        </div>

        <div class="container" id="creez">
            <h1>CREATION</h1>
        </div>

        <div class="container" id="innovez">
            <h1>INNOVATION</h1>
        </div>

        <div class="container" id="communiquez">
            <h1>COMMUNICATION</h1>
        </div>

        <div class="container" id="evoluez">
            <h1>EVOLUTION</h1>
        </div>

        <div id="subLogo">

            <p>
                Conception web & stratégie digitale
            </p>


        </div>

        {% image '@CWSDshowcaseBundle/Resources/public/images' %}
        <img id="codingWall" src="{{ asset('images/codingWall.jpg') }}" alt="" />
        {% endimage %}

    </header>

    <div class="container" id="slideHomepage">

        <div id="titleSlideH">



            <p><strong>CWSD</strong></p> <h1><em>Conception web et stratégie digitale</em></h1>


            <h4>Paris 2018</h4>

            <div class="container" id="conseiller">
                <h1>Vous conseiller</h1>
            </div>

            <div class="container" id="accompagner">
                <h1>Vous accompagner</h1>
            </div>

            <div class="container" id="developper">
                <h1>Vous développer</h1>
            </div>



            {% image '@CWSDshowcaseBundle/Resources/public/images' %}
            <img id="idea" src="{{ asset('images/idea.jpg') }}" alt="" />
            {% endimage %}

            {% image '@CWSDshowcaseBundle/Resources/public/images' %}
            <img id="check" src="{{ asset('images/check.jpg') }}" alt="" />
            {% endimage %}

            {% image '@CWSDshowcaseBundle/Resources/public/images' %}
            <img id="can" src="{{ asset('images/can.jpg') }}" alt="" />
            {% endimage %}



        </div>

    </div>

    <div class="container" id="slideHomepage2">

        <div id="SlideH2Text">

            <h1>
                Résultat d'une réflexion sur le role d'une agence web,
                CWSD se veut en partenaire de votre croissance.<br><br>
                Vous trouverez une équipe dédiée à vos projets, prête
                à relever vos défis.

            </h1>

            <p>En savoir plus<span class="glyphicon glyphicon-chevron-down " id="glyphiconDown"></span></p>


        </div>

    </div>

    <nav class="navbar navbar-fixed-top" id="cwsdNavbar">
        <div class="container-fluid" id="navContainer">
            <div class="navbar-header">

                <a href="{{ path ('cwsd_homepage') }}"> {% image '@CWSDshowcaseBundle/Resources/public/images' %}
                    <img id="cwsdLogo2" src="{{ asset('images/cwsdLogo.png') }}" alt="" />
                    {% endimage %}

                </a>

            </div>


            <ul class="nav navbar-nav" id="cwsdUl">
                <li><a href="#" id="clickAcc">Accueil</a></li>
                <li><a href="#" id="clickPres">Présentation</a></li>
                <li><a href="#" id="clickSer">Services</a></li>
                <li><a href="#" id="clickRea">Réalisations</a></li>
                <li><a href="#" id="clickDis">Disponibilités</a></li>
                <li><a href="#">Devis</a></li>
                <li><a href="#" id="clickCon">Contact</a></li>


            </ul>
        </div>



    </nav>

    <div id="scrollUp"><span class="glyphicon glyphicon-chevron-up " id="glyphiconUp"></span></div>


    <section id="sectPres">{#ancre presentation************************************#}
        <article>
            <div class="container" id="ancrePresentation">

                <h2 id="h2Pres">NOTRE OBJECTIF</h2>

                <p id="presP1">
                    <em>Mettre notre expertise au service du <strong>développement</strong>
                        de nos clients.</em><br>
                </p>

                <p id="presP2">

                    Internet offre une multitudes d'opportunités et d'outils aux entreprises.<br>
                    Chaque projet ayant sa spécificité, notre maitrise technique nous permet<br>
                    de vous accompagner du début au lancement de votre projet et lors de sa<br>
                    maintenance.<br><br> Pour y parvenir nous nous appuyons sur des valeurs  :
                </p>

                {% image '@CWSDshowcaseBundle/Resources/public/images' %}
                <img id="board" src="{{ asset('images/board.png') }}" alt="" />
                {% endimage %}

                <p id="presP3">

                    <span id="spanpresP3">TRANSPARENCE</span> <br><br>
                    Du devis à la réalisation, chaque étape<br> vous est expliquée et soumise à validation.<br>
                    Nous créons ensemble.

                </p>


                {% image '@CWSDshowcaseBundle/Resources/public/images' %}
                <img id="todo" src="{{ asset('images/todo.png') }}" alt="" />
                {% endimage %}

                <p id="presP4">

                    <span id="spanpresP4">RIGUEUR</span> <br><br>
                    Que la méthodologie choisie soit agile,<br> itérative ou traditionnelle la finalité demeure<br> le respect des coûts et des délais.


                </p>

                {% image '@CWSDshowcaseBundle/Resources/public/images' %}
                <img id="listening" src="{{ asset('images/listening.png') }}" alt="" />
                {% endimage %}

                <p id="presP5">

                    <span id="spanpresP5">ECOUTE</span> <br><br>
                    L'aboutissement de votre projet passe par<br> la compréhension de vos besoins.

                </p>

                {% image '@CWSDshowcaseBundle/Resources/public/images' %}
                <img id="sharing" src="{{ asset('images/sharing.png') }}" alt="" />
                {% endimage %}

                <p id="presP6">

                    <span id="spanpresP6">OUVERTURE </span> <br><br>
                    Nous sommes en perpétuel apprentissage pour<br> vous apporter un panel de solutions.
                </p>



                {% image '@CWSDshowcaseBundle/Resources/public/images' %}
                <img id="book" src="{{ asset('images/book.jpeg') }}" alt="" />
                {% endimage %}

                {% image '@CWSDshowcaseBundle/Resources/public/images' %}
                <img id="mockup" src="{{ asset('images/mockup.jpg') }}" alt="" />
                {% endimage %}

                <ul style="list-style-type:none">
                    <li>Quel que soit votre but, nous travaillons à :</li>
                    <li>- l'amélioration de <strong>l'expérience</strong> de vos utilisateurs</li>
                    <li>- augmenter votre <strong>e-notoriété</strong></li>
                    <li>- parfaire votre offre grâce aux <strong>retours clients</strong></li>
                </ul>
            </div>
        </article>

        <aside>
            <div class="container" id="titlePresentation">
                <h2 id="presH2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    PRESENTATION</h2>
            </div>

        </aside>

    </section>




    <section> {#ancre services****************************#}

        <article>

            {% image '@CWSDshowcaseBundle/Resources/public/images' %}
            <img id="knowledge" src="{{ asset('images/knowledge.png') }}" alt="" />
            {% endimage %}

            {% image '@CWSDshowcaseBundle/Resources/public/images' %}
            <img id="knowledge2" src="{{ asset('images/knowledge2.png') }}" alt="" />
            {% endimage %}

            {% image '@CWSDshowcaseBundle/Resources/public/images' %}
            <img id="knowledge3" src="{{ asset('images/knowledge3.png') }}" alt="" />
            {% endimage %}

            <div class="container" id="ancreServices">

                <h2 id="h2Ser">NOTRE SAVOIR-FAIRE</h2>

                <p id="presS1">
                    <em>Des <strong>solutions numériques </strong> sur mesure
                        <br>
                    </em>
                </p>

                <div class="container" id="imgSer1">

                    {% image '@CWSDshowcaseBundle/Resources/public/images' %}
                    <img id="code" src="{{ asset('images/code.jpg') }}" alt="" class="image" />
                    {% endimage %}

                    <div class="overlay" id="overlaySer1">
                        <div class="text">

                           <a href="{{ path ('cwsd_devpage') }}"> <button class="button " id="buttonDev">En savoir plus</button></a>

                        </div>
                    </div>

                </div>

                <div class="container" id="imgSer2">

                    {% image '@CWSDshowcaseBundle/Resources/public/images' %}
                    <img id="acquisitionImg" src="{{ asset('images/acquisition.jpg') }}" alt="" class="image" />
                    {% endimage %}

                    <div class="overlay" id="overlaySer1">
                        <div class="text">

                            <button class="button " id="buttonDev">En savoir plus</button>

                        </div>
                    </div>

                </div>

                <div class="container" id="imgSer3">

                    {% image '@CWSDshowcaseBundle/Resources/public/images' %}
                    <img id="socialMedia" src="{{ asset('images/social.jpg') }}" alt="" class="image" />
                    {% endimage %}

                    <div class="overlay" id="overlaySer1">
                        <div class="text">

                            <button class="button " id="buttonDev">En savoir plus</button>

                        </div>
                    </div>

                </div>





                <div class="container" id="developpement">

                    <h3><strong>DEVELOPPEMENT</strong></h3>

                    {#{% image '@CWSDshowcaseBundle/Resources/public/images' %}
                    <img id="stop" src="{{ asset('images/stop.png') }}" alt="" class="image" />
                    {% endimage %}#}

                    <p>

                        Création de sites vitrines/évenementiels<br>
                        Création de sites e-commerce<br>
                        Création d'applications mobiles

                    </p>
                </div>

                <div class="container" id="acquisition">

                    <h3><strong>ACQUISITION</strong></h3>

                    {#{% image '@CWSDshowcaseBundle/Resources/public/images' %}
                    <img id="stop2" src="{{ asset('images/stop.png') }}" alt="" class="image" />
                    {% endimage %}#}

                    <p>

                        Référencement naturel<br>
                        Référencement payant<br>
                        Campagne display

                    </p>
                </div>


                <div class="container" id="social">

                    <h3><strong>SOCIAL MEDIA</strong></h3>

                    {#{% image '@CWSDshowcaseBundle/Resources/public/images' %}
                    <img id="stop3" src="{{ asset('images/stop.png') }}" alt="" class="image" />
                    {% endimage %}#}

                    <p>

                        Community Management<br>
                        Relations influenceurs

                    </p>
                </div>





            </div>




        </article>

        <aside>
            <div class="container" id="titleServices">
                <h2 id="serh2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    SERVICES

                </h2>
            </div>

        </aside>



    </section>




    <section id="sectRea"> {#ancre realisations****************************#}

        <article id="artRea">
            <h2 id="h2Rea">NOS PROJETS</h2>

            <p id="presRea">
                <em> Ils nous ont fait <strong>confiance </strong>
                    <br>
                </em>
            </p>

            <div id="titleCarou1"><strong>spotmydive.fr</strong></div>
            <div id="titleCarou2"><strong>cwsd.fr</strong></div>
            <div id="titleCarou3"><strong>En cours</strong></div>




            {#carousel 1-------------------#}
            <div id="carouselRea" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#carouselRea" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselRea" data-slide-to="1"></li>
                    <li data-target="#carouselRea" data-slide-to="2"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner">

                    <div class="item active">
                        {% image '@CWSDshowcaseBundle/Resources/public/images' %}
                        <img id="smdcapt4" src="{{ asset('images/smdcapt4.png') }}" alt="" class="image" />
                        {% endimage %}
                    </div>



                    <div class="item ">
                        {% image '@CWSDshowcaseBundle/Resources/public/images' %}
                        <img id="smdcapt3" src="{{ asset('images/smdcapt3.png') }}" alt="" class="image" />
                        {% endimage %}
                    </div>




                    <div class="item">
                        {% image '@CWSDshowcaseBundle/Resources/public/images' %}
                        <img id="niceDiving" src="{{ asset('images/niceDiving.png') }}" alt="" class="image" />
                        {% endimage %}
                    </div>


                </div>

                <!-- Left and right controls -->
                <a class="left carousel-control" href="#carouselRea" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#carouselRea" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <span class="sr-only">Next</span>
                </a>

                {#flip---------------#}

                <div id="flip">+ - détails</div>
                <div id="panel">

                    <div id="descClient"><span>Client :</span> &nbsp;&nbsp;Spotmydive</div>
                    <div id="descMission"><span>Mission :</span>&nbsp;&nbsp; Maintenance application web</div>
                    <div id="descStat"><span>Statut :</span> &nbsp; Online</div>
                    <a href="https://www.spotmydive.com/en" target="_blank"><div id="descSite">Site</div></a>


                    <br>
                    <div id="descREs">Start up dynamique, nous avons eu le plaisir de les accompagner dans
                        leur refonte graphique et la création de fonctionnalités nouvelles. </div>


                </div>


            </div>



            {#carousel2---------------#}

            <div id="carouselRea2" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#carouselRea2" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselRea2" data-slide-to="1"></li>
                    <li data-target="#carouselRea2" data-slide-to="2"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner">

                    <div class="item active">
                        {% image '@CWSDshowcaseBundle/Resources/public/images' %}
                        <img id="cwsdCapture2" src="{{ asset('images/cwsdCapture2.png') }}" alt="" class="image" />
                        {% endimage %}
                    </div>



                    <div class="item ">
                        {% image '@CWSDshowcaseBundle/Resources/public/images' %}
                        <img id="cwsdCapture2" src="{{ asset('images/cwsdCapture2.png') }}" alt="" class="image" />
                        {% endimage %}
                    </div>




                    <div class="item">
                        {% image '@CWSDshowcaseBundle/Resources/public/images' %}
                        <img id="cwsdCapture2" src="{{ asset('images/cwsdCapture2.png') }}" alt="" class="image" />
                        {% endimage %}
                    </div>


                </div>

                <!-- Left and right controls -->
                <a class="left carousel-control" href="#carouselRea2" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#carouselRea2" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <span class="sr-only">Next</span>
                </a>


                {#flip2----------------#}

                <div id="flip2">+ - détails</div>
                <div id="panel2">

                    <div id="descClient2"><span>Client :</span> &nbsp;&nbsp;Cwsd.fr</div>
                    <div id="descMission2"><span>Mission :</span>&nbsp;&nbsp;Création application web</div>
                    <div id="descStat2"><span>Statut :</span> &nbsp; Online</div>
                    <div id="descSite2"><a href="https://www.cwsd.fr" target="_blank">Site</a></div>

                    <br>
                    <div id="descREs2">Parce qu'on est jamais mieux servi que par soi même. </div>


                </div>



            </div>

            {#carousel3********************#}

            <div id="carouselRea3" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#carouselRea3" data-slide-to="0" class="active"></li>

                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner">

                    <div class="item active">
                        {% image '@CWSDshowcaseBundle/Resources/public/images' %}
                        <img id="enCoursPix" src="{{ asset('images/enCours.jpg') }}" alt="" class="image" />
                        {% endimage %}
                    </div>


                </div>

                <!-- Left and right controls -->
                <a class="left carousel-control" href="#carouselRea3" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#carouselRea3" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <span class="sr-only">Next</span>
                </a>


                {#flip3----------------#}

                <div id="flip3">+ - détails</div>
                <div id="panel3">

                    <div id="descClient3"><span>Client :</span> &nbsp;&nbsp;</div>
                    <div id="descMission3"><span>Mission :</span>&nbsp;&nbsp;</div>
                    <div id="descStat3"><span>Statut :</span> &nbsp; </div>
                    <div id="descSite3"><a href="https://www.cwsd.fr" target="_blank">Site</a></div>

                    <br>
                    <div id="descREs3">Projet en cours. </div>


                </div>



            </div>


        </article>

        <aside>
            <div class="container" id="titleRealisations">
                <h2 id="reah2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    REALISATIONS

                </h2>

            </div>


        </aside>




    </section>


    <section id="sectDispo">

        {#ancre disponibilités***************************#}

        <article id="artDispo">

            <div id="dispoClock">
                {% image '@CWSDshowcaseBundle/Resources/public/images' %}
                <img id="clock" src="{{ asset('images/clock.jpg') }}" alt="" class="image" />
                {% endimage %}
            </div>


            <iframe id="cwsdCal" src="https://calendar.google.com/calendar/embed?showTitle=0&amp;showCalendars=0&amp;showTz=0&amp;height=500&amp;wkst=2&amp;
    bgcolor=%23FFFFFF&amp;src=ralaindimby%40gmail.com&amp;color=%2329527A&amp;
    ctz=Europe%2FParis" style="border-width:0" width="500" height="500" frameborder="0" scrolling="no">

            </iframe>

        </article>

        <aside>
            <div class="container" id="titleDispo">
                <h2 id="dish2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    DISPONIBILITES

                </h2>

                <p>Cet agenda vous permet de voir nos disponibilités en temps réel.<br>
                    Pour plus de détails n'hésitez pas à nous contacter.<span class="glyphicon glyphicon-chevron-down " id="glyphiconDown2"></span>
                </p>

            </div>


        </aside>

    </section>

    <section id="sectContact">

        <aside>
            <div class="container" id="titleContact">
                <h2 id="conh2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    CONTACT

                </h2>

                <p>


                    {% image '@CWSDshowcaseBundle/Resources/public/images' %}
                    <img id="contPhone" src="{{ asset('images/contPhone.jpg') }}" alt="" class="image" />
                    {% endimage %}

                    {% image '@CWSDshowcaseBundle/Resources/public/images' %}
                    <img id="contWriter" src="{{ asset('images/contWriter.jpg') }}" alt="" class="image" />
                    {% endimage %}
                </p>

            </div>


        </aside>


    </section>



</div>

<footer>

    <p>footer</p>

</footer>



</body>


{% javascripts 'js/cwsd.js' %}
<script src="{{ asset('js/jquery.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/cwsd.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/bootstrap.js') }}"></script>

{% endjavascripts %}

</html>

