
<!DOCTYPE html>

<html>


<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>CWSD dev</title>

    {% stylesheets 'css/cwsd.css' %}
    <link  rel="stylesheet" href="{{ asset('css/cwsd.css') }}" type="text/css" >
    <link  rel="stylesheet" href="{{ asset('css/bootstrap.css') }}" type="text/css" >
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    <link href="http://fonts.googleapis.com/css?family=Fenix" rel="stylesheet" type="text/css">
    {% endstylesheets %}


</head>


<body>






<div id="mainDev">


    <header id="headerDev">

        {% image '@CWSDshowcaseBundle/Resources/public/images' %}
        <img id="coderDev" src="{{ asset('images/coder.jpg') }}" alt="" />
        {% endimage %}

        {% image '@CWSDshowcaseBundle/Resources/public/images' %}
        <img id="coding2" src="{{ asset('images/coding2.jpg') }}" alt="" />
        {% endimage %}

        <div id="headerDevText">

            <h1>
                DEVELOPPEMENT WEB
            </h1>

            <h2>
                <em>Sites et applications mobiles</em>
            </h2>

            <hr id="hrDev">
            <hr id="hrDev2">
            <hr id="hrDev3">
            <hr id="hrDev4">
            <hr id="hrDev5">
            <hr id="hrDev6">


            <p id="headerDevTitle">

                {% image '@CWSDshowcaseBundle/Resources/public/images' %}
                <img id="learning" src="{{ asset('images/learning.png') }}" alt="" />
                {% endimage %}

                Gestions de projets

            </p>

            <p id="headerDevTitle2">

                {% image '@CWSDshowcaseBundle/Resources/public/images' %}
                <img id="shop" src="{{ asset('images/shop.png') }}" alt="" />
                {% endimage %}

                Sites vitrines & évènementiels

            </p>


            <p id="headerDevTitle3">

                {% image '@CWSDshowcaseBundle/Resources/public/images' %}
                <img id="debitCard" src="{{ asset('images/debitCard.png') }}" alt="" />
                {% endimage %}

                Sites e-commerce

            </p>


            <p id="headerDevTitle4">

                {% image '@CWSDshowcaseBundle/Resources/public/images' %}
                <img id="mobile" src="{{ asset('images/mobile.png') }}" alt="" />
                {% endimage %}


                Applications mobiles

            </p>

        </div>

    </header>



    <nav class="navbar navbar-fixed-top" id="cwsdNavbar">
        <div class="container-fluid" id="navContainer">
            <div class="navbar-header">

                <a href="{{ path ('cwsd_homepage') }}">

                    {% image '@CWSDshowcaseBundle/Resources/public/images' %}
                    <img id="cwsdLogo2" src="{{ asset('images/cwsdLogo.png') }}" alt="" />
                    {% endimage %}

                </a>

            </div>


            <ul class="nav navbar-nav" id="cwsdUl">
                <li><a href="{{ path ('cwsd_homepage') }}"id="clickAcc2">Accueil</a></li>
                <li><a href="#" id="clickGes">Gestion de projets</a></li>
                <li><a href="#" id="clickVit">Sites vitrines/ évènementiels</a></li>
                <li><a href="#" id="clickEcom">Sites e-commerce</a></li>
                <li><a href="#" id="clickApp">Applications mobiles</a></li>
                <li><a href="#">Devis</a></li>
                <li><a href="#">Contact</a></li>


            </ul>
        </div>


    </nav>

    <div id="scrollUp"><span class="glyphicon glyphicon-chevron-up " id="glyphiconUp"></span></div>



    {#methode**************************************************************************************#}

    <section id="sectMeth">

        <article id="artMeth">

            <h2 id="h2Meth">NOTRE METHODOLOGIE</h2>

            <p id="methP1">

                S'adapter à vos besoins et délais

            </p>

            {% image '@CWSDshowcaseBundle/Resources/public/images' %}
            <img id="project" src="{{ asset('images/project.jpg') }}" alt="" />
            {% endimage %}

            <p id="methCasc">

                Deux méthodes de gestion de projets nous permettent
                d'y parvenir. La première, dite "en cascade",<br> se veut logique et structurée. Elle s'articule en six étapes distinctes :

            </p>

            <p id="methEtape">
                1

                <span>Analyse des besoins du client</span>

            </p>

            <p id="methEtape2">
                2

                <span>Conception et modélisation</span>

            </p>

            <p id="methEtape3">
                3

                <span>Planning (échéancier et budget)</span>

            </p>

            <p id="methEtape4">
                4

                <span>Développement</span>

            </p>

            <p id="methEtape5">
                5

                <span>Vérification et lancement</span>

            </p>

            <p id="methEtape6">
                6

                <span>Maintenance</span>

            </p>


            {% image '@CWSDshowcaseBundle/Resources/public/images' %}
            <img id="agileMeth" src="{{ asset('images/agile.jpg') }}" alt="" />
            {% endimage %}


            <p id="methAgile">

                La seconde dite "agile", accorde plus de place à la flexibilité et prone une grande <br>
                interaction entre le client et son équipe de développement. Ici le projet est divisé<br>
                en modules, validés et livrés au fur et à mesure. Cette méthode s'appuie sur 4 principes :

            </p>

            <p id="methPrincipe">
                1

                <span>"Les individus et leurs interactions, plus que les processus et les outils"</span>

            </p>

            <p id="methPrincipe2">
                2

                <span>"Des logiciels opérationnels, plus qu'une documentation exhaustive"</span>

            </p>

            <p id="methPrincipe3">
                3

                <span>"La collaboration avec les clients, plus que la négociation contractuelle"</span>

            </p>

            <p id="methPrincipe4">
                4

                <span>" L'adaptation au changement, plus que le suivi d'un plan"</span>

            </p>

        </article>

        <aside>

            <strong>Nous choisirons une méthode de travail selon la nature de votre projet</strong>


        </aside>

    </section>


    {#vitrine****************************************************************************#}

    <section id="sectVitrine">

        <div id="headerVitrine">

            {% image '@CWSDshowcaseBundle/Resources/public/images' %}
            <img id="vitrine" src="{{ asset('images/vitrine.jpg') }}" alt="" />
            {% endimage %}

            {% image '@CWSDshowcaseBundle/Resources/public/images' %}
            <img id="vitrine2" src="{{ asset('images/vitrine2.jpg') }}" alt="" />
            {% endimage %}

            {% image '@CWSDshowcaseBundle/Resources/public/images' %}
            <img id="url" src="{{ asset('images/url.png') }}" alt="" />
            {% endimage %}

            {% image '@CWSDshowcaseBundle/Resources/public/images' %}
            <img id="vitrine3" src="{{ asset('images/vitrine3.png') }}" alt="" />
            {% endimage %}

            <p>Sites vitrines & évenementiels</p>



        </div>

        <article id="artVitrine">



            <div id="presVitrine">
                <p>
                    Présentation de votre activité, élément clé de votre communication digitale, le site vitrine vous permet d'intéragir avec votre audience.<br>
                    Allez plus loin en diversifiant votre communication grâce à une campagne percutante via un site évenementiel .

                </p>

            </div>

            <div id="presVitrine2">

                {% image '@CWSDshowcaseBundle/Resources/public/images' %}
                <img id="responsive" src="{{ asset('images/responsive.jpg') }}" alt="" />
                {% endimage %}

                {% image '@CWSDshowcaseBundle/Resources/public/images' %}
                <img id="wordcloud" src="{{ asset('images/wordcloud.png') }}" alt="" />
                {% endimage %}

                <h3>Un site responsive</h3>

                <p>
                    Afin d'être consultable sur tous les supports (tablettes,écrans, ordinateurs) CWSD <br>
                    s'engage à vous designer un site responsive.

                </p>



            </div>

            <div id="presVitrine3">


                <h3>Un panel technique</h3>



                <p>

                    Quelque soit vos besoins nous avons la réponse technologique


                </p>


            </div>


        </article>

        <aside>

        </aside>

    </section>

    {#eshop****************************************************************************#}

    <section id="sectEshop">

        <div id="headerEshop">


            {% image '@CWSDshowcaseBundle/Resources/public/images' %}
            <img id="eshop" src="{{ asset('images/eshop.jpg') }}" alt="" />
            {% endimage %}

            {% image '@CWSDshowcaseBundle/Resources/public/images' %}
            <img id="eshop3" src="{{ asset('images/eshop3.jpg') }}" alt="" />
            {% endimage %}

            {% image '@CWSDshowcaseBundle/Resources/public/images' %}
            <img id="cart2" src="{{ asset('images/cart.png') }}" alt="" />
            {% endimage %}

            {% image '@CWSDshowcaseBundle/Resources/public/images' %}
            <img id="shipbox" src="{{ asset('images/shipbox.png') }}" alt="" />
            {% endimage %}


            <p>Sites e-commerce</p>





        </div>

        <article id="artEshop">

            <div id="presEshop">
                <p>
                    Quelques chiffres sur le e-commerce en France : CA de 81,7 Milliards d'€, 1,247 milliards<br>
                    de transactions (21% sur mobile), 37,5 millions de Français achètent en ligne (source FEVAD).

                </p>

            </div>

            <div id="presEshop2">

                {% image '@CWSDshowcaseBundle/Resources/public/images' %}
                <img id="code3" src="{{ asset('images/code3.jpg') }}" alt="" />
                {% endimage %}

                {% image '@CWSDshowcaseBundle/Resources/public/images' %}
                <img id="code4" src="{{ asset('images/code4.jpg') }}" alt="" />
                {% endimage %}

                <h3>Un site sur-mesure</h3>

                <p>
                    <br>CWSD prend en charge la conception, modélisation et développement de votre site e-commmerce. <br>
                    Un site étant évolutif, il vous sera livré avec un systeme d'administration.<br><br><br>
                    Dans le cadre d'une stratégie digitale globale, nous assurerons votre visibilité grâce au<br>
                    référencement et nous établirons un contact pérenne avec votre audience via notre expertise <br>
                    en Community Management.

                </p>



            </div>





        </article>

        <aside>


        </aside>

    </section>


    {#mobile************************************************************************************#}

    <section id="sectMobile">

        <div id="headerMobile">

            {% image '@CWSDshowcaseBundle/Resources/public/images' %}
            <img id="smartphone" src="{{ asset('images/smartphone.jpg') }}" alt="" />
            {% endimage %}

            {% image '@CWSDshowcaseBundle/Resources/public/images' %}
            <img id="tablet" src="{{ asset('images/tablet.jpg') }}" alt="" />
            {% endimage %}

            {% image '@CWSDshowcaseBundle/Resources/public/images' %}
            <img id="wifi2" src="{{ asset('images/wifi2.png') }}" alt="" />
            {% endimage %}


            {% image '@CWSDshowcaseBundle/Resources/public/images' %}
            <img id="finger" src="{{ asset('images/finger.png') }}" alt="" />
            {% endimage %}


            <p>Applications mobiles</p>






        </div>

        <article id="artMobile">

            <div id="presMobile">

                <p>L'application mobile, l'outil indispensable d'une expérience utilisateur optimale</p>

            </div>

            <div id="presMobile2">

                <h3>Pour une stratégie cross canal</h3>

            </div>

            <div id="presMobile3">

                {% image '@CWSDshowcaseBundle/Resources/public/images' %}
                <img id="split" src="{{ asset('images/split.png') }}" alt="" />
                {% endimage %}

                {% image '@CWSDshowcaseBundle/Resources/public/images' %}
                <img id="tower" src="{{ asset('images/tower.png') }}" alt="" />
                {% endimage %}

                {% image '@CWSDshowcaseBundle/Resources/public/images' %}
                <img id="thumbnails" src="{{ asset('images/thumbnails.png') }}" alt="" />
                {% endimage %}

                <p>


                    Les internautes utilisent en alternance leurs différents appareils personnels.<br><br>
                    ILs peuvent consulter  votre site destktop, comparer les différents offres concurentes sur leurs mobiles, puis
                    acheter sur leur tablette.
                    Afin de s'adapter à ces usages,<br>CWSD vous accompagne dans votre choix de mobilité.

                </p>


            </div>

            <div id="presMobile4">

                <p>
                    Selon vos besoins 3 choix sont possibles :<br>


                </p>

                <ul>
                    <li><strong>l'application native</strong> :<br>
                        développée pour un système d'exploitation donné, dans son language natif. Cette option
                        permet une utilisation complète des ressources du terminal (gps, caméra etc...).
                        Cependant, la maintenance est lourde et les coûts de développement conséquents.<br><br>
                    </li>

                    <li><strong>l'application mobile web</strong> : <br>
                        développée grâce aux languages web pour un usage multiplateforme. Les coûts et les délais
                        de développement sont réduits...tout comme les fonctionnalités.<br><br>
                    </li>


                    <li><strong>l'application hybride</strong> : <br>
                    Comme son nom l'indique il s'agit d'un compromis. Techniquement,
                    ses capacités se rapprochent d'une application native sans toutefois y arriver.

                    </li>


                </ul>


            </div>

            <div id="presMobile5">

                <p>
                    A chaque canal, un usage spécifique. Etre présent sur chacun d'eux vous permettra de suivre vos potentiels
                    clients tout au long du processus d'achat, de multiplier votre présence et vos chances de conversions.



                </p>


            </div>




        </article>


        <aside>


        </aside>





    </section>





</div>






<footer id="footDev">

    <p>footer</p>

</footer>


</body>


{% javascripts 'js/cwsd.js' %}
<script src="{{ asset('js/jquery.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/cwsd.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/bootstrap.js') }}"></script>

{% endjavascripts %}

</html>

